__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.so

.clearml/
.cache/

.env
.venv/
venv/
env/

.ipynb_checkpoints/

.DS_Store
Thumbs.db

results/**/*.cbm
results/**/*.pkl
results/**/*.joblib

data/
results/
